body{
    background-color: rgb(157, 157, 206);
   
}

img{
    border-radius: 30px;
    width: 30%;
    border: none;
}

h1{
    color: blanchedalmond;
    text-align: center;
}

div{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

