body {
    background-color: rgb(157, 157, 206);

}

img {
    margin-top:100px;
    border-radius: 30px;
    width: 30%;
    border: none;
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

div {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 14.5px;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color:#0e72ed ;
}