<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://nu.lybcdn.com/img/lybrate_icon_325x325.png" />
    <title>Buy Checkout</title>
    <link rel="stylesheet" href="/style/buyCheckout.css">

    <script src="https://kit.fontawesome.com/b2700ae26b.js" crossorigin="anonymous"></script>
</head>

<body onload="showProduct(<%= JSON.stringify(cart_Items) %>)">

    <section>

        <section>

            <div id="navContainer">
                <div id="container">
                    <div id="nav_bar">
                        <a href=""><img src="../image/Lybrate-Goodkart-Logo.png" alt=""></a>
                        <div class="search_bar">
                            <input type="text" class="search_product">
                            <a href=""><button class="search_btn"><span class="fa fa-search"></span></button></a>
                        </div>
                        <div class="select">
                            <ul class="top_ul">
                                <li class="top_li"><a href=""><button class="top_a"> Hello, Sign in<span
                                                style="margin-left: 8px;" class="fas fa-angle-down"></span></button></a>
                                    <ul class="ul">
                                        <li class="li"><a class="a" href="">Orders</a></li>
                                        <li class="li"><a class="a" href="">Buy Again</a></li>
                                        <li class="li"><a class="a" href="">DownLoad App</a></li>
                                        <li class="li"><a class="a" href="">Browse Health</a></li>
                                        <li class="li"><a class="a" href="">My Orders</a></li>
                                        <li class="li"><a class="a" href="">My Offers</a></li>
                                        <li class="li"><a class="a" href="">Health Feed</a></li>
                                        <li class="li"><a class="a" href="">Login/Signin</a></li>
                                        <li class="li"><a class="a" href="">For Doctors</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <a href="" style="margin: 0vh 2vh; margin-top: 10px;"><span id="pluslogo"
                                    class="fas fa-plus-square"></span><button
                                    class="lybrate_cash">LybrateCash</button></a>
                            <a href="" class="home_btn"><button>Home</button> </a>
                            <a href="" class="cart_logo"><span class="fas fa-cart-arrow-down"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div id="row_1_cont">
        <div id="checkout_img_1">
            <i class="fas fa-2x fa-prescription-bottle"></i>
        </div>
        <div id="paras">
            <h1 id="pay_heading"></h1>
            <p id="pay_brand"></p>
            <p id="pay_descr"></p>
            <p id="pay_price"></p>
            <p id="pay_disct"></p>
            <br>

            <div id="disct_info">
                <div id="disct_para">
                    <p>₹71 cashback would be credited to your account after delivery</p>
                </div>
                <div id="addminus_icon">
                    <i class="fas fa-minus-circle" id="minus_icon"  onclick="subtraction(<%= JSON.stringify(cart_Items) %>)"></i><span id="number">1</span><i
                        class="fas fa-plus-circle" id="plus_icon" onclick="addtion(<%= JSON.stringify(cart_Items) %>)"></i>

                </div>
            </div>

        </div>
    </div>


    <div id="row_2_cont">
        <p>1</p>
        <h3>Express Checkout</h3>

    </div>

    <div id="row_3_cont">
        <div id="row_3_cont_1">
            <input type="text" name="" id="name" placeholder="Name*">
            <input type="number" name="" id="phone" placeholder="Mobile*">
            <input type="email" name="" id="mail" placeholder="Email*">
            <br>
            <input type="text" name="" id="city" placeholder="City*">
            <input type="text" name="" id="code" placeholder="Pincode*">
            <input type="text" id="address" placeholder="Complete-Address" onmouseleave="lengths()">
            <p>Min 20 Char <span id="char_length">0 / 200</span></p>
            <div id="checkout_btn">
                <button id="check_btn">Checkout</button>
            </div>
        </div>
    </div>



    <!-- section Footer -->


    <section>
        <div id="footer-div">
            <div id="footer">
                <div>

                    <ul>
                        <h5>Search Health Products</h5>
                        <li> Goodkart</li>
                        <li>Vitamin and Supplement</li>
                        <li>Protein and Fitness</li>
                        <li>Skin and Hair Care</li>
                        <li>Sexual Wellness</li>
                        <li>Weight Management</li>
                        <li>Food and Drink</li>
                        <li>Personal Care</li>
                        <li>Child Care</li>
                        <li>GoodBox</li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <h5>Search doctors</h5>
                        <li> Search doctors by City</li>
                        <li>Search doctors by City Locality</li>
                        <li>Search doctors by speciality</li>
                        <li>Search doctors by city speciality</li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <h5> Read Health Articles</h5>
                        <li>Health Wiki</li>
                        <li>Health Tips Index</li>
                        <li>Health Questions Index</li>
                        <li>Health Quizzes Index</li>
                        <li>Health Topics Index</li>
                        <li>Medicines Index</li>
                        <li>Ailment Index</li>
                        <li>Lab Test Details Index</li>
                    </ul>

                </div>
                <div>
                    <ul>
                        <h5>Read about Lybrate</h5>
                        <li>About Us </li>
                        <li>Contact Us</li>
                        <li>Careers</li>
                        <li>Mobile Apps</li>
                        <li>Blog</li>
                        <li>Term of Use</li>
                        <li>Privacy Policy</li>
                        <li>Editorial Policy</li>
                        <li>Press</li>

                    </ul>

                </div>
                <div>
                    <div class="social">

                        <h5>Social</h5>
                        <i class="fab fa-1x fa-facebook-f"></i>
                        <i class="fab fa-1x fa-twitter"></i>
                        <i class="fab fa-1x fa-linkedin-in"></i>
                        <i class="fab fa-1x fa-youtube"></i>
                        <br>
                        <h5>Download App</h5>
                        <img src="https://assets.lybrate.com/q_auto,f_auto/imgs/product/logos/GooglePlay.png">
                        <img src="https://assets.lybrate.com/q_auto,f_auto/imgs/product/logos/AppStore.png">

                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="/script/buyCheckout.js">
    </script>
</body>

</html>