<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://nu.lybcdn.com/img/lybrate_icon_325x325.png"/>
    <title>Payment Successful</title>
    <link rel="stylesheet" href="../styles/success.css">
</head>
<body>
    <div class="main">
        <img src="https://t3.ftcdn.net/jpg/03/30/46/64/240_F_330466419_yToDBe6a1a9l0VYRpGYvYJ4J817WxfZl.jpg" alt="">
        <h3>Thank You... For Shopping With</h3>
        <h2>LYBRATE</h2>
        
        <div id="order"></div>
    </div>
</body>
    
    <script>
        
        let order = document.getElementById("order")
        let p_track = document.createElement("p")

        let random = Math.floor(Math.random() * 1000000) + 1000000;

        p_track.innerHTML = `Order Tracking Id - ${random} AzYxd`
        order.append(p_track)
        
        
        
        </script>
</html>
