<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="success.css">
</head>
<body>
    <div>
        <img src="https://cdn.dribbble.com/users/1735807/screenshots/4290582/media/580d17098258a9455826077142caa395.gif" alt="">
    
       
    </div>

   

    <h1 id="head">Payment is successfull</h1>

   <div id="order"></div>
</body>
</html>

<script>

let order = document.getElementById("order")
    let p_track = document.createElement("h3")

    let random = Math.floor(Math.random() * 1000000) + 1000000;

    p_track.innerHTML = `Order Tracking Id - ${random} AzYxd`
    order.append(p_track)
    


</script>