#main_container {
    width: 90%;
    margin: auto;

}

#search_box {
    width: 80%;
    /* padding: 10px; */
    height: 30px;

}

.submit {
    color: white;
    background-color: #c82506;
    width: 15%;
    height: 35px;
    /* padding: 5px; */
    /* display: inline-block; */
}


#home_button {
    color: red;
    margin-right: 10px;
    float: left;
}

.submit1 {
    color: white;
    background-color: #c82506;
}

.empty_div {
    height: 20px;
    /* border: 1px solid black; */
    /* clear: both; */
}

.gold {
    background-color: #C8DF95;
    width: 70%;
    height: 100px;
    float: left;
    margin-bottom: -10px;
}

#gold_img {
    float: left;
}


.gold_content {
    padding-top: 30px;
    font-size: 20px;
    font: bold;
}
.question_box{
    border: 1px solid red;
    width: 20%;
    padding: 20px;
    float: right;
}
#question{
    height: 100px;
    width: 90%;
}

.grid-con {
    background-color:skyblue;
    /* margin-top: 20px; */
    width: 70%;
    clear: both;
    
}

.health_query {
    padding: 10px;
    font-size: 20px;
}

.drs {
    margin-left: 10px;
    border-radius: 50%;
    float: left;

}

.big_img {
    width: 95%;
    margin: 20px;
}

.dr_names {
    font: bold;
    font-size: 25px;
    margin: 20px;
}

.dr_qua {
    font-size: 12px;
    margin-left: 30px;
}

.reviews {
    margin-left: 10px;
}
.grid-item>button {
    width: 32%;
    padding: 10px;
}

#item2 {
    margin: 30px;
}

.small_fonts {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}