body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 24px;
    text-align: center;
    color: #9a9b9f;
    font-weight: 400;
   
}

body{
    background-color: #eee;
}


#mainDiv{
    margin-top: 60px;
    max-width: 30%;
    margin: auto;
    border: 1px solid #dce0e0 ;
}

#loginText{
    display: flex; 
    background-color: #ffffff;
   
}

#loginText>div{
    width: 25%;
    padding:0px 10px;
}



input[type="text"], input[type='password'], input[type='Email']{
    width: 80%;
    margin: 5px 0 0 17px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(212, 206, 206);
    background-color: transparent;
  }
  
a{
    text-decoration: none;
    color: #9a9b9f;
    font-weight: 900;
    font-size: 12px;
}



  #countryCode{
      width: 24%;
      height: 28px;
      margin: 0 5px 10px 17px;
      border: none;
      border-bottom: 1px solid rgb(212, 206, 206);
      list-style: none;
      background-color: transparent;
      
  }

  input[type="number"]{
      border: none;
      border-bottom: 1px solid rgb(212, 206, 206);
      padding: 6px;
      width: 55%;
      font-size: 12px;
      background-color: transparent;
  }
  
  .red{
      
      font-size: 12px;
      color: #c82506;
  }

  #login-btn{
      text-align: center;
      background-color: #c82506;
       
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 3px;
      
  }

  #login-btn a{
      text-decoration: none;
      color: #ffffff;
    
      font-weight: 400;
      font-size: 16px;
  }
  form p{
      color: #757575 ;
      font-size: 12px;
      margin-left: 10px;
  }

  #acc-para{
      color: #757575;
      text-align: center;
      font-size: 12px;
  }

  /* Footer Section */


#footer-div{
    background-color: grey;

}

#footer h5{
    color: #ccc;
    font-size: 13px;
    margin-bottom: 15px;
    font-weight: 800;
}
  #footer{
      width: 90vw;
        display: flex;
    
      margin: auto;

  }

  #footer>div{
      flex: 1;
      margin: 10px;
  }

  #footer li{
      text-decoration: none;
      list-style: none;
      margin: 4px;
      color: #ffffff;
      font-size: 13px;
      font-weight: 800;
  }

 .social i{
     color: #ffffff;
     margin: 5px;
     padding: 4px;
     
 }

 .social h5{
    margin-left: 50px;
 }

 .social img{
     max-width: 70%;
     margin: auto
 }


/* top navbar */
#top_div {
    width: 100%;
    height: 35rem;
    margin-top: 2px;
    background-color: white;


}

.navbar_container {
    display: grid;
    grid-template-columns: 30% 12% 12% 12% 12% 24%;
    justify-content: center;
    margin-bottom: 0%;
    width: 100%;
    height: 3.4rem;
    background-color: white;
}

.navbar_container div {
    height: 100%;
}

.lybrate_logo {
    width: 24%;
    height: 45%;
    text-align: center;
    margin-left: 40%;
    margin-top: 2%;
}

#msg_icon {
    width: 12%;
    height: 21%;
    margin-left: 0%;
    margin-top: 11%;
    float: left;
    margin-right: 4%;

}

#pill_icon {
    width: 13%;
    height: 24%;
    margin-top: 11%;
    margin-left: 4%;
    float: left;
    margin-right: 2%;
}

#lab_icon {
    width: 15%;
    height: 25%;
    margin-top: 10%;
    float: left;
    margin-right: 4%;
}

#cal_icon {
    width: 10%;
    height: 22%;
    margin-top: 10%;
    margin-left: -3%;
    float: left;
    margin-right: 3%;
}

.navbar_div h4 {
    font-size: 17px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #444444;
    margin-top: 11%;
    font-weight: bold;
    margin-right: 5px;
}

#cart_button {
    padding: 0%;
    background-color: #C82506;
    color: black;
    font-family: "Roboto", Helvetica, sans-serif;
    width: 31%;
    height: 47%;
    padding: 2px;
    text-align: center;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 7px;
    border: none;
    float: left;
}

#cart_button h5 {
    font-size: 10px;
    margin: 0%;
    font-weight: normal;
    color: white;
}

#cart_button h3 {
    font-size: 18px;
    margin: 0%;
    color: white;
    font-weight: 600;
}

#cart_icon {
    width: 16%;
    height: 40%;
    margin-top: 4%;
}

input {
    outline: none;
    background-color: transparent;
}
