
        body{
            font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
            background-color: #eee;
            margin: 0px;
        }

        #navContainer
        {
            width: 100%;
            background-color: white;
            margin-top: 0px;
        }
        #container{
            width: 80%;
            margin: auto;
            text-align: center;
            background-color: #eee;
        }
        #nav_bar {
            display: flex;
            padding: 2vh 0vh;
            height: 36px;
            background-color: #ffffff;
        }

        #nav_bar img {
            height: 36px;
            margin: 0vh;

        }

        .search_bar  {
            flex-grow: 1;
            margin: 0vh 5vh;
            height: 32px;
            background-color: #DEDEDE;
        }
        .search_bar input{
            flex-grow: 1;
            outline: none;
            border: none;
            margin:0px;
            width: 85%;
            height: 26px;
            background-color: #DEDEDE;
            
        }

        #nav_bar>.search_bar {
            border: 1px solid gray;
        }

        .search_btn {
            float: right;
            padding: 0px;
            padding: 4px;
            font-weight: lighter;
            font-size: 20px;
            border: white;
            background-color: #DEDEDE;
        }

        #nav_bar>.select {
            border: none;
            font-size: 14px;
        }
         select :hover{
             background-color: #ffffff;
             color: green;
         }
        
        .lybrate_cash{
            text-decoration: none;
            font-size: 14px;
            color: #222222;
            border: none;
            background-color: white;
            padding-left:5px;
            padding-bottom: 5px;
        }
        #pluslogo{
            color: #C82506;
            font-size: 20px;
        }
        .home_btn{
            text-decoration: none;
            font-size: 14px;
            color: #222222;
            margin: 0vh 2vh;
            background-color: #ffffff;
        }
        .home_btn button{
            background-color: #ffffff;
            border-color: rgba(189, 185, 185, 0.933);
            padding: 3px 8px;
            border-radius: 6px;
            margin-top: 5px;
        }
        .cart_logo{
            text-decoration: none;
            font-size: 25px;
            color: #C82506;
            margin: 0vh 2vh;
            margin-top: 5px;
        }
        

        #diff_container{
            width: 100%;
            font-size: 14px;
            text-align: center;
            padding:5px 8%;
            height: 30px;
            background-color: #000000;
            color: white;
        }
        #diff_container .categories{
            margin-left: 8vh;
            float: left;
            border: none;
            color: #ffffff;
            background-color: #222222;


        }

        #product_div {
            display: grid;
            margin-top: 25px;
            grid-template-columns: 48% 48%;
           column-gap: 4%;
        }

        #show1 {
            display: grid;
            padding: auto;
            background-color: white;
            grid-template-columns: 50% 50%;
           
        }

        #show2 {
            display: grid;
            padding: auto;
            grid-template-columns: 50% 50%;

        }
        /* .product_heading{
            border-left: 1px solid #E8C9BE;
            background-color: #E8C9BE;
            margin-bottom: 0px;
            font-size: 18px;
        } */
        .prduct_heading_p{
            font-size: 18px;
            background-color:#E8C9BE ;
            color: #222222;
            float: left;
            padding: 12px 0px 12px 4px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .viewAll_btn{
            text-decoration: none;
            border-bottom: dotted;
            font-size: 14px;
            margin-left: 270px;
            margin-right: 8px;
            color: #222222;
        }
        .heading2{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            padding: 12px 180px 12px 4px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .heading4{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            font-weight: bold;
            padding: 12px 312px 12px 4px;
            margin-bottom: 0px;
        }
        .heading5{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            padding: 12px 402px 12px 4px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        #banner{
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 5%;
            margin-top: 5%;
        }

        #product_div2{
            display: grid;
            grid-template-columns: 48% 48%;
           column-gap: 4%;
        }

        #show4 {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        #show5 {
            display: grid;
            grid-template-columns: 50% 50%;
        }


        /* styling for food and drink page */

        #food_product{
            display: grid;
            grid-template-columns: 20% 75%;
            grid-gap: 5%;
        }
        #filter{
           height: 400px;
            border: 1px solid red;
        }
        
        #food_and_drink_product{
           
            height: 400px;
           border: 5px solid green;
        }