
        body{
            font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
            background-color: #eee;
        }
        
        #container{
            width: 80%;
            margin: auto;
            text-align: center;
            background-color: #eee;
        }
        #nav_bar {
            display: flex;
            padding: 2vh 0vh;
            height: 36px;
            background-color: #ffffff;
        }

        #nav_bar img {
            height: 36px;
            margin: 0vh;

        }

        .search_bar  {
            flex-grow: 1;
            margin: 0vh 5vh;
            background-color: #DEDEDE;
        }
        .search_bar input{
            flex-grow: 1;
            margin: 0vh;
            width: 87%;
            height: 30px;
            background-color: #DEDEDE;
            
        }

        #nav_bar>.search_bar {
            border: 1px solid gray;
        }

        .search_btn {
            float: right;
            padding: 0px;
            padding: 4px;
            border: white;
            background-color: #DEDEDE;
        }

        #nav_bar>.select {
            margin: 0vh 5vh;
            border: none;
            font-size: 14px;
        }
        .lybrate_cash{
            text-decoration: none;
            font-size: 14px;
            color: #222222;
            margin: 0vh 5vh;
        }
        .home_btn{
            text-decoration: none;
            font-size: 14px;
            color: #222222;
            margin: 0vh 5vh;
        }
        .cart_logo{
            text-decoration: none;
            font-size: 14px;
            color: #222222;
            margin: 0vh 5vh;
        }
        

        #diff_container{
            width: 100%;
            font-size: 14px;
            text-align: center;
            padding:5px 8%;
            height: 30px;
            background-color: #000000;
            color: white;
        }
        #diff_container .categories{
            margin-left: 8vh;
            float: left;
            border: none;
            color: #ffffff;
            background-color: #222222;


        }

        #product_div {
            display: grid;
            margin-top: 25px;
            grid-template-columns: 48% 48%;
           column-gap: 4%;
        }

        #show1, #show2, #show3, #show4, #show5 p{
            font-weight: bold;
        }

        .heading2, .heading4, .heading5, .prduct_heading_p{
            font-weight: 900;
            text-align: center;
        }

        #show1 {
            display: grid;
            background-color: white;
            grid-template-columns: 50% 50%;
           
        }

        #show2 {
            display: grid;
            grid-template-columns: 50% 50%;

        }
        .product_heading{
            border-left: 1px solid #E8C9BE;
            background-color: #E8C9BE;
            padding: 0px 10px;
            margin-top: 0px;
          
        }

        #show1 img{
           max-width: 100%;
        }

        .prduct_heading_p{
            font-size: 18px;
            color: #222222;
            float: left;
            padding: 0px 0px 0px;
           
        }
        .viewAll_btn{
            
            float: right;
            font-size: 18px;
            color: #222222;
            padding: 20px 0px 4px;
            text-decoration: none;
            border-bottom: 1px dotted black;
            /* margin-top: 50px; */
        }
        .heading2{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            padding: 12px 120px 12px 5px;
            margin-bottom: 0px;
        }
        .heading4{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            padding: 12px 308px 12px 0px;
            margin-bottom: 0px;
        }
        .heading5{
            font-size: 18px;
            color: #222222;
            float: left;
            background-color: white;
            padding: 12px 398px 12px 0px;
            margin-bottom: 0px;
        }

        #banner{
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 5%;
            margin-top: 5%;
        }

        #product_div2{
            display: grid;
            grid-template-columns: 48% 48%;
           column-gap: 4%;
        }

        #show4 {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        #show5 {
            display: grid;
            grid-template-columns: 50% 50%;
        }


        /* styling for food and drink page */

        #food_product{
            display: grid;
            grid-template-columns: 20% 75%;
            grid-gap: 5%;
        }
        #filter{
           height: 400px;
            border: 1px solid red;
        }
        
        #food_and_drink_product{
           
            height: 400px;
           border: 5px solid green;
        }