body {
    background-color: #eee;
    margin: 0%;
}

header {
    margin-right: 10%;

}

header button {
    border: none;
    float: right;
    background-color: rgb(221, 220, 220);
    color: #6C6A6A;
    background-color: #eee;
    margin-left: 2%;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", Helvetica, sans-serif;
}

.clear {
    clear: both;
}

 
/* top navbar */
#top_div {
    width: 100%;
    height: 35rem;
    margin-top: 2px;
    background-color: white;


}

.navbar_container {
    display: grid;
    grid-template-columns: 30% 12% 12% 12% 12% 24%;
    justify-content: center;
    margin-bottom: 0%;
    width: 100%;
    height: 3.4rem;
    background-color: white;
}

.navbar_container div {
    height: 100%;
}

.lybrate_logo {
    width: 24%;
    height: 45%;
    text-align: center;
    margin-left: 40%;
    margin-top: 2%;
}

#msg_icon {
    width: 12%;
    height: 21%;
    margin-left: 0%;
    margin-top: 11%;
    float: left;
    margin-right: 4%;

}

#pill_icon {
    width: 13%;
    height: 24%;
    margin-top: 11%;
    margin-left: 4%;
    float: left;
    margin-right: 2%;
}

#lab_icon {
    width: 15%;
    height: 25%;
    margin-top: 10%;
    float: left;
    margin-right: 4%;
}

#cal_icon {
    width: 10%;
    height: 22%;
    margin-top: 10%;
    margin-left: -3%;
    float: left;
    margin-right: 3%;
}

.navbar_div h4 {
    font-size: 17px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #444444;
    margin-top: 11%;
    font-weight: bold;
    margin-right: 5px;
}

#cart_button {
    padding: 0%;
    background-color: #C82506;
    color: black;
    font-family: "Roboto", Helvetica, sans-serif;
    width: 31%;
    height: 47%;
    padding: 2px;
    text-align: center;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 7px;
    border: none;
    float: left;
    cursor: pointer;
}

#cart_button h5 {
    font-size: 10px;
    margin: 0%;
    font-weight: normal;
    color: white;
}

#cart_button h3 {
    font-size: 18px;
    margin: 0%;
    color: white;
    font-weight: 600;
}

#cart_icon {
    width: 16%;
    height: 40%;
    margin-top: 4%;
}

#navbar_bottom {
    width: 70%;
    margin-left: 15%;
}

#navbar_bottom button {
    margin-left: 5%;
    background-color: white;
    border: none;
    font-size: 14px;
    color: #444444;;
    font-family: "Roboto", Helvetica, sans-serif;
    cursor: pointer;
}

#main_image {
    width: 100%;
    height: 550px;
    background-image: url("https://assets.lybrate.com/q_auto,f_auto/imgs/product/Homepage/Web_Home-Page_Banner_03.jpg");
    background-attachment: local;
    background-size: cover;
}

#main_image h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    margin: 1% 0;
    font-family: "Roboto", Helvetica, sans-serif;
    align-items: center;
    line-height: 6.5;
    margin-bottom: 0%;
}

.search_div {
    width: 70%;
    margin: auto;
    margin-top: 0%;
    text-align: center;
}

#search_input {
    height: 40px;
    width: 60%;
    border: none;
}

#search_button {
    width: 160px;
    height: 40px;
    background-color: #C82506;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
}

.image_links {
    width: 80%;
    margin: auto;
    margin-top: 0%;
    text-align: center;
    margin-top: 2%;
}

.image_links a {
    font-size: 17px;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.image_links p {
    font-size: 17px;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: transparent;
    text-decoration: none;
}

.image_links a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.random_minute {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 50% 40%;
    height: 100px;
    margin: auto;
    margin-top: 4%;
}

.random_minute p {
    color: white;
    text-align: center;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    width: 78px;
    margin-left: 20%;
    border: 0.5px dashed white;
    background-color: transparent;
    float: right;

}

.main_image_footer {
    width: 99.8%;
    height: 50px;
    background-color: #333333;
    text-align: center;
    align-items: center;
    margin-top: 3%;
    padding: 2px;
}

.main_image_footer p {
    color: white;
    font-size: 20px;
    font-family: "Roboto", Helvetica, sans-serif;

}

.random_minute h4 {
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-top: 5%;
    margin-left: 4%;
    font-family: "Roboto", Helvetica, sans-serif;
}

.main_image_footer button {
    color: white;
    font-size: 20px;
    background-color: #A02A1A;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 600;
    /* padding: 3px 9px; */
}

.dropdown_div {
    background-color: white;
    margin: auto;
    margin-top: 0.6%;
    width: 99.9%;
    height: 40px;
}

.dropdown {
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
}

.dropdown > div {
    width: 50%;
    text-align: left;
}

.dropdown h4 {
    cursor: pointer;
    font-size: 14px;
    color: #6C6A6A;
    font-weight: normal;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-top: -9%;
}

#card1 {
    display: none;
}

.main_grid {
    width: 80%;
    margin: auto;
    margin-top: 3%;
}

.main_grid div {
    width: 100%;
}

.main_grid h2 {
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 0;
    font-size: 28px;
    color: #222222;
}

.main_grid h4 {
    font-size: 20px;
    margin-left: 40px;
    color: #6C6A6A;
    font-family: "Roboto", Helvetica, sans-serif;
    float: left;
    line-height: 0%;
}

.main_grid p {
    font-size: 20px;
    color: #6C6A6A;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-top: 0%;
    margin-left: 5px;
    font-weight: normal;
    float: right;
    line-height: 0;
}

.main_grid_div {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 1.5%;
    justify-content: center;
}

.main_grid_div > div {
    height: 290px;
    background-color: white;
    margin-bottom: 0%;
    border: 0.2px solid #d8d5d5;
    border-radius: 2px;
}

.main_grid_div img {
    width: 25%;
    height: 30%;
    margin-top: 2%;
    background-attachment: fixed;
    background-size: cover;
    float: right;
}

.main_grid_div h3 {
    width: 70%;
    margin-left: 2%;
    float: left;
    color: #222222;
    font-family: "Roboto", Helvetica, sans-serif;
}

.main_grid_div h2 {
    font-family: "Roboto", Helvetica, sans-serif;
    margin-left: 10%;
    margin-bottom: 1%;
}

.main_grid_div p {
    font-family: "Roboto", Helvetica, sans-serif;
    margin-left: 10%;
    font-size: 11px;
    margin-top: 0%;
}


#last_div1 {
    width: 100%;
    height: 330px;
    margin: auto;
    grid-gap: 2%;
    justify-content: center;
}

.more_Questions_div {
    width: 98%;
    margin: 1%;
    border: 1px solid #c9c7c7;
    height: 54px;
    margin-top: 9%;
    background-color: white;
    color: #C82506;
    font-weight: 600;
    font-size: 16.5px;
    border-radius: 2px;
    font-family: "Roboto", Helvetica, sans-serif;
    cursor: pointer;
    
}

#last_div2 {
    width: 100%;
    height: 330px;
    margin: auto;
    grid-gap: 2%;
    justify-content: center;
    border: 0.5px solid #C82506;
}

#last_div2 input {
    margin: auto;
    border: 0.5px solid #c9c7c7;
    width: 92%;
    height: 180px;
    margin-left: 3%;
    margin-bottom: 0%;
}

#last_div2 input::placeholder {
    transform: translateY(-70px);
}

#last_div2 div {
    margin-top: -7%;
    width: 93%;
    background-color: #F7F7F7;
    margin: auto;
}

#last_div2 p {
    font-size: 12px;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-left: 10%;
    color: #6C6A6A;
    margin-top: 1%;

}

#last_div2 button {
    width: 18%;
    height: 34px;
    border: none;
    background-color: #C82506;
    margin-left: 55%;
    margin-top: 0.5%;
    padding: 0px 8px;
    font-size: 14.5px;
    font-weight: 600;
    color: white;
    border-radius: 2px;

}

#profile_div {
    width: 50%;
    height: 20%;
}

#profile_div2 {
    width: 50%;
    height: 15%;
    margin-top: -4%;
}

#profile_image {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-left: 4%;
    margin-top: 0%;
    float: left;
}

#profile_image2 {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-left: 4%;
    margin-top: 0%;
    float: left;
}

.main_grid_div a {
    color: #C82506;
    text-decoration: none;
    font-size: 14.5px;
    font-weight: 600;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-left: 4%;
}

.main_grid_div p {
    font-size: 16.5px;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 4%;
    font-family: "Roboto", Helvetica, sans-serif;
}

.main_grid_div h6 {
    margin-left: 22%;
    margin-top: 0%;
    font-size: 11px;
    color: #6C6A6A;
    font-family: "Roboto", Helvetica, sans-serif;
}

#middle_container {
    width: 100%;
    height: 740px;
    margin-top: 90px;
    background-color: white;
    border: 1px solid white;
}

.middle_top {
    width: 80%;
    margin: auto;
}

.middle_top h2 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    margin-top: 3.3%;
}

.middle_top h6 {
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #6C6A6A;
    margin-top: -1.2%;
    margin-left: 3%;
    margin-bottom: 1.5%;
}

.middle_image {
    display: grid;
    grid-template-columns: 55% 1% 44%;
    width: 80%;
    height: 77%;
    margin: auto;
}

.second_half {
    background-color: white;
}

.third_half {
    height: 87%;
}

#third_half_slider {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#third_half_slider div {
    height: 25%;
    width: 100%;
    border: 0.1px solid #444444;
    background-color: #333333;
    cursor: pointer;
}

#third_half_slider img {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    margin-top: 6%;
    margin-left: 4%;
    margin-right: 2%;
    float: left;
}

#third_half_slider h3 {
    margin-top: 7%;
    line-height: 1;
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
    margin-bottom: 1.5%;
}

#third_half_slider p {
    margin-top: 0%;
    line-height: 1;
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
}

#third_half_button {
    width: 100%;
    height: 12%;
    margin-top: 1.7%;
}

#third_half_button button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    background-color: #444444;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

.first_top {
    width: 100%;
    height: 70%;
}

.first_top img {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.first_bottom {
    margin-top: 0.8%;
    width: 100%;
    height: 25.9%;
    background-color: #444444;
    padding: 1%;
}

.first_bottom h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    margin-left: 2%;
    margin-bottom: 1%;
}

.first_bottom a {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 16px;
    margin-left: 2%;
}

.first_bottom button {
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 2%;
    border-radius: 3px;
    margin-left: 2%;
    color: white;
}

#videos {
    width: 100%;
    height: 850px;
}

.video_top {
    width: 80%;
    margin: auto;
}

.video_top h2 {
    font-size: 28px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    margin-top: 3.3%;
}

.video_top h6 {
    font-size: 19px;
    font-weight: normal;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #6C6A6A;
    margin-top: -1.5%;
    margin-left: 2%;
    margin-bottom: -3%;
}

.video_frames {
    display: flex;
    width: 82.5%;
    margin: auto;
    height: 35%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.slider-video {
    width: 25%;
    height: 86%;
    margin: 0 3px;
    display: none;
}

.slider-video img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#video_previous, #video_next {
    margin: 0 10px;
    display: inline-block;
}

#video_previous button, #video_next button {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    font-size: 35px;
    color: #6C6A6A;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#video_previous button {
    position: absolute;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#video_next button {
    position: absolute;
    right: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#video6 {
    background-color: #C82506;
}

#video6 h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 40%;
}

.bottom_frames {
    display: flex;
    width: 82.5%;
    margin: auto;
    height: 38%;
    justify-content: center;
    align-items: flex-start;
}

.bottom_pic {
    width: 25%;
    height: 50%;
    margin: 0% 7px;
    display: none;
}

.bottom_pic img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#bottom_previous, #bottom_next {
    margin: 0 10px;
    display: inline-block;
}

#bottom_previous button, #bottom_next button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 35px;
    color: #6C6A6A;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#bottom_previous button {
    position: absolute;
    left: 13%;
    top: 455%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#bottom_next button {
    position: absolute;
    top: 455%;
    right: 10.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#bottom6 {
    height: 83%;
    background-color: #C82506;
}

#bottom6 h3 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 40%;
}

.page {
    position: relative;
    bottom: 35%;
    width: 85%;
    margin: auto;
    height: 90%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
    cursor: pointer;
}

.page_top {
    width: 88%;
    height: 55%;
    margin-left: 5%;

}

.page_bottom {
    display: flex;
    width: 88%;
    height: 43%;
    margin: auto;
}

#page_profile {
    width: 24%;
    height: 77%;
    margin: 1% 0%;
}

#page_profile img {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 50%;
}

#page_details {
    width: 76%;
    height: 98%;
    margin-top: 0px;
    margin-left: 4px;
}

#page_details h3 {
    font-size: 14px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #C82506;
    line-height: 0.5;
}

#page_details p {
    font-size: 12px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #6C6A6A;
    font-weight: bold;
    line-height: 0;
}
.page_top h3 {
    padding: 15px 0;
    font-size: 18px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
}

.quiz {
    width: 80%;
    height: 80px;
    margin: auto;
}

.quiz h2 {
    font-size: 28px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    margin-top: 1.5%;
}

.quiz h6 {
    font-size: 19px;
    font-weight: normal;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #6C6A6A;
    margin-top: -1.5%;
    margin-left: 2%;
    margin-bottom: -3%;
}

#details {
    width: 100%;
    height: 350px;
    background-color: white;
}

.details_top {
    width: 70%;
    margin: auto;
}

.details_top h2 {
    font-size: 28px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    text-align: center;
    line-height: 5;
}

.details_top h6 {
    font-size: 19px;
    font-weight: normal;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    text-align: center;
    margin-top: -4%;
}

.details_top button {
    width: 14%;
    height: 38px;
    font-size: 16.5px;
    color: white;
    background-color: #C82506;
    border: none;
    margin-left: 43%;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
}

.categories {
    width: 82.5%;
    height: 500px;
    margin: auto;
    background-color: transparent;
}

.categories h2 {
    font-size: 28px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #222222;
    margin-bottom: 0%;
    margin-left: 25px;
}

.slider_diet {
    display: flex;
    width: 100%;
    height: 38%;
    justify-content: center;
    align-items: center;
}

.slider_child {
    width: 25%;
    height: 70%;
    display: none;
    margin: 0 5px;
}

.slider_diet img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

#diet_previous, #diet_next {
    margin: 0 10px;
    display: inline-block;
}

#diet_previous button, #diet_next button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 35px;
    color: #6C6A6A;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#diet_previous button {
    position: absolute;
    left: 14%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#diet_next button {
    position: absolute;
    right: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.slider_city {
    display: flex;
    width: 100%;
    height: 38%;
    justify-content: center;
    align-items: center;
}

.city_child {
    width: 25%;
    height: 70%;
    display: none;
    margin: 0 5px;
}

.slider_city img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

#city_previous, #city_next {
    margin: 0 10px;
    display: inline-block;
}

#city_previous button, #city_next button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 35px;
    color: #6C6A6A;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

#city_previous button {
    position: absolute;
    left: 14%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#city_next button {
    position: absolute;
    right: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about_lybrate {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.about_lybrate h3 {
    width: 80%;
    font-size: 25px;
    font-family: "Roboto", Helvetica, sans-serif;
    margin: auto;
    line-height: 2;
    color: #6C6A6A;
}

.about_lybrate p {
    width: 80%;
    font-size: 16px;
    font-family: "Roboto", Helvetica, sans-serif;
    margin: auto;
    margin-bottom: 10px;
    color: #6C6A6A;
}


 /* Navigation End */

 .diffNav{
    width: 100%;
    height: 40px;
    /* background-color: #222222; */
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", Helvetica, sans-serif;
}
.diffContainer{
    width: 80%;
    /* margin: auto; */
}

ul{
    list-style: none;
    padding: 0px;
    position: absolute;
}
ul li{
    float: left;
}
ul li a{
    font-family: "Roboto", Helvetica, sans-serif;
    width: 186px;
    color: #444444;
    display: block;
    text-decoration: none;
    text-align: center;
    /* padding: 3px; */

}
ul li:hover ul li a{
    margin-top: 15px;
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #ffffff;
    color: #444444;
}
ul li:hover ul{
   border: 1px solid white;
   background-color: #ffffff;
   border-radius: 6px;
   /* margin-top:5px; */
}
ul li ul li{
     clear: both;
}
ul li ul{
    display: none;
}
ul li:hover ul {            
    display: block;
}

/* My footer section */

#footer {
    width: 100%;
    height: 330px;
    background-color: grey;
}

.footer-div {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 21% 21% 21% 21% 16%;
}

.footer-div div {
    height: 100%;
}

.footer-div div p {
    line-height: 8px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

.footer-div div h5 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #ccc;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-div div i {
    font-size: 20px;
    margin-right: 5px;
    color: white;
}
